<%
=begin%>
 <div style="
        color: #443c3c;

        box-sizing: border-box;
        width: 400px;
        height: 200px;

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    "
>
    <div style="width: 100%;">
        <h1 style="width: 100%;">New article</h1>
    </div>

    <form>
        <label for="title">Title</label> <br />
        <input type='text' id='title' name='title' /> <br />

        <label for='content'>Content</label> <br />
        <textarea type='text' id='content' name='content' > </textarea> <br />
    </form>
</div>
<%
=end%>

<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
